@font-face {
    font-family: MonAmourTwo;
    src: url(../fonts/7921.ttf);
}
.main {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
.ultimate {
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 2695px;
}

body {
  margin: 0;
  padding: 0;
}
.headCont {
display: flex;
align-items: center;
}
header {
  display: flex;
  height: 100px;
  width: 100%;
  background: #fbf7ec;
}
.logo {
  margin-left: 50px;
  margin-right: 340px;
}
.tel {
  margin-top: 37px;
  margin-bottom: 32px;
  margin-right: 10px;

}
button {
  outline: none;
}
.button1 {
  background: #4d1251;
  height: 42px;
  width: 234px;
  border-radius: 17px;
  border: 0;
  text-decoration: none;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 28px;
  margin-right: 44px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
}
.buttons:hover {
  border: 2px double white;
   box-shadow: 16px 13px 18px 0px #000000;
}
.telText {
  float: left;
  font-size: 23px;
  font-family: 'Roboto'; /*спорсить*/
  font-weight: 500;
  margin-top: 42px;
  margin-bottom: 36px;
  margin-right: 35px;
}
.firstSection {
  margin: 0;
  padding: 0;
  height: 650px;
  width: 100%;
  background: URL(../img/Back1.png);
}
nav {
  height: 74px;
  width: 1170px;
  background: URL(../img/Back2.png);
  padding: 0;
  margin: 0;
}
.menu {
  padding: 0;
  margin: 0;
  display: block;
}
.menu li {
  display: inline-block;
  margin-left: 55px;
  margin-top: 25px;
}
.menu a {
  color: #f4cbec;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 300;
  position: relative;
}
.menu a::before {
  content: '';
  bottom: -18px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f0ebf0;
   /* background: linear-gradient(90deg, #6d3767, #fdfdfd); */ /* TODO: как сделать? */ */
  transition: 0.2s; /* TODO: почему перестало работать */
  transform: scaleX(0);
}
.menu a:hover:before {
  transform: scaleX(1);
}
.menu a:hover {
  color: #ffffff;
}
.firstH1 {
  display: flex;
  align-items: flex-start;
  margin-left: 52px;
}
.firstH1Part1 {
  display: flex;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40.5px;
  font-weight: 500;
  margin-top: 130px;
  margin-bottom: 0;
}
.firstH1Part2 {
  display: flex;
  color: #ffffff;
  font-family: 'MonAmourTwo';
  font-size: 61px;
  font-weight: 500;
  padding-top: 100px;
  margin: 0;
  margin-left: 7px;
}
.secondH1 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40.5px;
  font-weight: 500;
  margin-left: 150px;
  margin-top: 19px;
}
.button2 {
  background: #4d1251;
  height: 60px;
  width: 432px;
  border-radius: 20px;
  border: 0;
  text-decoration: none;
  color: #fefefe;
  margin-left: 138px;
  margin-top: 50px;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 400;
}
.advantge {
height: 860px;
width: 100%;
background: #fbf7ec;
}
h2 {
  font-family: 'Lobster';
  font-size: 60px;
  font-weight: 400;
  color: #6d2c8b;
  margin: 0;
  padding-top: 42px;
  padding-left: 295px;
}
.edges {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around;
  margin: 0px auto;
}
.edge {
  width: 300px;
  height: 300px;
  text-align: center;
  padding-top: 36px;
}
.icon {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  margin-left: 92px;
  margin-right: 92px;
}
.edge img {
  padding-top: 25px;
}
#hotfix {
  padding-top: 40px;
}
h3, h4, h5, p, h6 {
  padding: 0;
  margin: 0;
}
.titleH3 {
  color: #49026a;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}
.explanations {
  color: #0c0b0c;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  margin-top: 22px;
}
.icon_text {
  background: #f6c68e;
}
.icon_map {
  background: #c3ebf2;
}
.icon_calac {
  background: #a4f192;
}
.icon_clock {
  background: #f7e688;
}
.icon_prise {
  background: #ea8bb7;
}
.icon_price {
  background: #e4b2f6;
}
.danceSection {
  margin:0;
  padding: 0;
  height: 1243px;
  width: 100%;
  background: URL(../img/semiback.png), URL(../img/hallback1.png);
  background-repeat: no-repeat;
  background-position: center;

}
h4 {
  font-family: 'Lobster';
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 240px;
}
.euroDance {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 55px;
  margin-top: 18px;
  /* justify-content:space-around; */
  /* margin: 0px auto; */
}
h5 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 700;

}
.hotfixH {
  margin-top: 68px;
  margin-left: 62px;
}
.euroDanceUl {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content:space-around;
}
.euroDanceUl li {
  list-style-type: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-style:italic;
  font-size: 25px;
  padding: 10px;
}
.brideDance {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content:space-around;
}
.teacher {
  width: 100%;
  height: 1216px;
  background: #fbf7ec;
  box-shadow: 0px 5px 5px -1px #000000 inset; /* TODO: уточнить */
  position: relative;
}
.teacher h6 {
  padding-top: 22px;
  margin-left: 127px;
}
/* <------    SLIDER   ------> */
.hotxfixslider {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
#polosa2-1 {
  display: flex;
  flex-flow: row nowrap;
  width: 1818px;
  height: 460px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
#polosa2-2 {
  display: flex;
  flex-flow: row nowrap;
  width: 1122px;
  height: 501px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
#polosa2-3 {
  display: flex;
  flex-flow: row nowrap;
  width: 1851px;
  height: 401px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slide {
  position: relative;
}
.back {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
}
.backslide {
  position: absolute;
  z-index: 9999;
  left: 0;
  bottom: 0;
}
.backslide1 {
  position: absolute;
  z-index: 9999;
  right: 0;
  bottom: 0;
}
.text1 {
  position: absolute;
  z-index: 99999;
  top: 150px;
  left: 29px;
  text-align: center;
}
.text2 {
  position: absolute;
  z-index: 99999;
  bottom: 17px;
  left: auto;
  text-align: center;
}
.text3 {
  position: absolute;
  z-index: 99999;
  top: 150px;
  right: 29px;
  text-align: center;
}
.text1, .text3 p {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 18px;
  color: #310446;
  margin-top: 28px;
}
.text2 p {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 18px;
  color: #ffffff;
  margin-top: 22px;
  margin-left: 20px;
}
.teacherName {
  margin-top: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 23px;
}
#slider1-1 {
  width: 606px;
  height: 460px;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 50px;
  margin-top: 42px;
}
#slider1-2 {
  width: 374px;
  height: 501px;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 150px;
  margin-top: -25px;
}
#slider1-3 {
  width: 617px;
  height: 401px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
  padding-top: 45px;
  margin-right: 54px;
  margin-left: -28px;
}
.buttonsSlider2 {
  text-align: center;
  margin-top: 48px;
}
.buttonsSlider2 button {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  background: #6d2c8b;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 21  px;
  border: none;
  margin-right: 24px;
}

.buttonsSlider2 button:hover {
  background: #d5a8ea;
  color: #500a70;
}
.buttonsSlider2 button:active { /* TODO: Как сделать */
  background: #d5a8ea;
  color: #500a70;
}

.foto {
  width: 100%;
  height: 870px;
  background: #6d2c8b;
}
.respone {
  width: 100%;
  height: 483px;
  background: #ffffff;
}
h6 {
  color: #6d2c8b;
  font-family: 'Lobster';
  font-size: 60px;
}
.titleRespone h6 {
  margin-left: 470px;
  padding-top: 20px;
}
.omg3slide {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 48px;
}
.respone1 {
  display: flex;
  flex-flow: row nowrap;
  height: 290px;
  width: 950px;
}
.name  {
  color: #6d2c8b;
  font-family: 'Roboto';
  font-size: 31px;
  font-weight: 500;
  margin-left: 61px;
}
.textLie {
  color: #2e083e;
  font-family: 'Roboto';
  font-style:italic;
  font-size: 25px;
  margin-left: 61px;
  margin-top: 43px;
}
.omg3slide button {
  margin-top: 124px;
}
#slideLeft {
  background: URL(../img/left.png) 50% 50% no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
  border: none;
}
#slideRight {
  background: URL(../img/right.png) 50% 50% no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
  border: none;
}
#slider3 {
  display: flex;
  flex-flow: row nowrap;
  height: 290px;
  width: 950px;
  overflow: hidden;
}
#polosa {
  display: flex;
  flex-flow: row nowrap;
  height: 290px;
  width: 2850px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.call {
  width: 100%;
  height: 550px;
  background: #fcf2d6;
}
.callOnMe {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 57px;
  padding-left: 120px;
}
.attention {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.i {
  height: 59px;
  width: 59px;
  border-radius: 50%;
  background: #9f71b5;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.i p{
  margin-top: 7px;
}
.slogan {
  font-family: 'Roboto';
  font-size: 41px;
  font-weight: 500;
  color: #44076f;
  margin-left: 33px;
}
.stats {
  font-family: 'Roboto';
  font-size: 63.5px;
  font-weight: 500;
  color: #44076f;
}
.lieP1, .lie2 {
  font-family: 'Roboto';
  font-size: 25.5px;
  font-weight: 500;
  color: #44076f;
}
.lie2 {
  margin-top: -7px;
}
.lieP1 {
  margin-left: 13px;
  padding-top: 5px;
}
.lie {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 15px;
}
.girlD {
  margin-top: 10px;
}
.order {
  display: flex;
  flex-direction: column;
  height: 395px;
  width: 378px;
  background: #fffefa;
  border: 1px solid #5c5b58;
  border-radius: 10px;
}
.order p {
  font-family: 'Roboto';
  font-size: 25.5px;
  font-weight: 400;
  color: #4d1251;
  text-align: center;
  margin-top: 42px;

}
.order input {
  border: 1px solid #d5d4d4;
  border-radius: 20px;
  height: 47px;
  width: 278px;
  margin-left: 51px;
  margin-top: 20px;
  outline: none;
  color: #000000;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: 400;
  padding-left: 19px;
}
input::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: italic;
}
.order button {
  height: 47px;
  width: 278px;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 400;
  background: #4d1251;
  color: #fefefe;
  border-radius: 20px;
  border: none;
  margin-left: 51px;
  margin-top: 20px;

}
.path {
  position: relative;
  width: 100%;
  height: 904px;
  background: #fbf7ec;
}
.path h6 {
  margin-left: 284px;
  padding-top: 26px;
}
map {
position:absolute;
width: 100%;
bottom:0;
left:0;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 157px;
  background: URL(../img/footback.png);
}
.footerBlok {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 22px;
  margin-left: 46px;
}
.address {
  margin-left: 112px;
  padding-top: 16px;
}
address {
  color: #fefefe;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
}
.SN {
  margin-left: 85px;
  margin-top: 25px;
}
.SN img {
  padding-right: 7px;
}
.callback p {
  color: #feffff;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
}
.button4 {
  background: #ffffff;
  height: 45px;
  width: 224px;
  border-radius: 17px;
  border: 0;
  text-decoration: none;
  color: #270437;
  font-size: 17,5px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 20px;
}
.callback {
  margin-left: 90px;
  padding-top: 16px;
}


/*<-----------TEST carusel -------->*/
#carousel {
        width:960px;
        border:1px solid #222;
        height:300px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
      }
      #carousel img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      }

      .split-left {
        width:450px;
        float:left;
      }
      .split-right {
        width:400px;
        float:left;
        margin-left:10px;
      }
      #callback-output {
        height:250px;
        overflow:scroll;
      }
      textarea#newoptions {
        width:430px;
      }
      .nav {
        width: 80px;
      }
